<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "head.njk" %}
  <body>
    <header class="c-header">
      {% include "top-header.njk" %}
      {% include "navigation.njk" %}
    </header>

    {% block content %} {% endblock %}

  </body>
</html>
