<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "head.njk" %}
  <body>
    <header>
      {% include "navigation.njk" %}
    </header>

    {% block content %} {% endblock %}

  </body>
</html>
