// Varibles

/* -- Font family -- */
$font-heading: 'Open Sans Semibold', sans-serif;
$font-text: 'Roboto Regular', sans-serif;
$font-text--italic: 'Roboto Italic', sans-serif;
$font-text--bold: 'Roboto Bold', sans-serif;

/* -- Colors -- */
$primary-blue: #0d70b3;
$primary-green: #0e892f;
$color-light-gray: #f9f9f9;
$color-black: #000000;
$color-white: #ffffff;
