{% extends "company-page.njk" %}
{% set pageTitle = "Cartelli segnalazioni stradali" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessori.jpg" alt="WaterCamper accessori prodotti settore camper">
    </figure>

    <div class="o-wrapper product-page">

      <section class="o-intro">
        <h1 class="o-intro__title">Cartelli segnalazioni stradali</h1>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/cartelli-stradali.jpg" alt="Cartelli stradale Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Il prodotto</h3>
              <p>Cartello Segnaletico in alluminio 90×60 cm completo di staffe escluso palo personalizzato.<br>Cartello istituzionale codice della strada.<br> Cartelli direzionali sinistra/destra</p>
            </article>
          </div>

      </section>


    </div>


  {% endblock %}
