{% extends "company-page.njk" %}
{% set pageTitle = "Chi siamo" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-azienda.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Chi siamo</h2>
        <p class="o-intro__text">La <strong>Innova snc</strong> nasce nel <strong>2007</strong> dall’intuizione di <strong>Massimo e Gianluca Tomellini</strong>, grazie all’esperienza acquisita e maturata nell’ambito della sicurezza industriale e delle indagini ambientali eseguite in campo petrolifero.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <article>
              <p>I fratelli Tomellini sono stati pionieri del settore, in quanto i <strong>primi in assoluto nel 1997</strong> a promuovere e realizzare il primo sistema <strong>camper service</strong> sperimentale per l’AGIP PETROLI. Successivamente brevettarono i loro sistemi elevando tecnicamente il settore con  la loro <strong>creatività</strong> ed <strong>inventiva</strong>, tracciando un percorso seguito successivamente da altre società. Ad oggi la Innova è riconosciuta quale <strong>azienda leader</strong> nel suo settore, per la qualità ed il design accattivante di tutti i suoi prodotti.
              </p>
            </article>

            <blockquote class="o-blockquote">
              Ci dedichiamo costantemente nella ricerca per far si che i prodotti soddisfino l’utente, rendendoli sempre più sicuri ed inattaccabili.
            </blockquote>
          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/chi-siamo.jpg" alt="">
            </figure>

            <ul class="o-block-checklist">
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Sistemi brevettati</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Modelli comunitari per il design</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Realizzazioni in acciaio inox</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Finiture a scomparsa</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Facilità d’installazione</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Costi di gestione bassi</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Configurazione scelta</li>
            </ul>

          </div>

      </section>

    </div>


  {% endblock %}
