{% extends "company-page.njk" %}
{% set pageTitle = "Clienti" %}
{% set metaDesc = "Nel corso degli anni Innova snc ha collaborato con diversi clienti internazionali e nazionali, che operano in diversi settori, come quello petrolifero ed altri" %}

  {% block content %}

    <figure>
      <img src="img/header-azienda.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h1 class="o-intro__title">Clienti</h1>
        <p class="o-intro__text">Nel corso delle sue attività, <strong>Innova snc</strong>, ha collaborato con <strong>importanti realtà</strong> internazionali e nazionali,
          collaborazione con clienti del <strong>settore petrolifero</strong>, come <strong>Eni</strong>, <strong>Tamoil</strong>, <strong>Q8</strong>
          e collaborazioni con clienti nazionale come <strong>Autogrill</strong> ed <strong>Autostrade per l'Italia</strong>; ma non solo, grazie al know how maturato nel corso degli anni d'attività, l'azienda opera anche con clienti appartenti ad altri importanti settori, come <strong>Comuni</strong>, <strong>Agriturismo</strong>, <strong>Aree di Servizio</strong>, <strong>Car Wash</strong> ed <strong>Aree di campeggio</strong>.
      </p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <h3 class="o-title o-title--medium">Alcuni clienti</h3>
            <div class="o-flex">
              <div class="o-flex__item">
                <figure>
                  <img src="img/clients/eni.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item">
                <figure>
                  <img src="img/clients/tamoil.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item">
                <figure>
                  <img src="img/clients/q8.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item">
                <figure>
                  <img src="img/clients/totalerg.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item">
                <figure>
                  <img src="img/clients/exonmobil.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item o-flex__item--big">
                <figure>
                  <img src="img/clients/autostrada-brescia.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item">
                <figure>
                  <img src="img/clients/autostrada-a22.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item">
                <figure>
                  <img src="img/clients/autogrill.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item">
                <figure>
                  <img src="img/clients/satap.png" alt="">
                </figure>
              </div>
              <div class="o-flex__item o-flex__item--big">
                <figure>
                  <img src="img/clients/autostrade.png" alt="">
                </figure>
              </div>
            </div>

            <h3 class="o-title o-title--medium">Settori</h3>
            <ul class="o-list c-category-list">
              <li>
                <figure>
                  <img src="img/comuni.jpg" alt="">
                </figure>
                Comuni
              </li>
              <li>
                <figure>
                  <img src="img/agriturismo.jpg" alt="">
                </figure>
                Agriturismo
              </li>
              <li>
                <figure>
                  <img src="img/carwash.jpg" alt="">
                </figure>
                Carwash
              </li>
              <li>
                <figure>
                  <img src="img/area-servizio.jpg" alt="">
                </figure>
                Aree Servizio
              </li>
              <li>
                <figure>
                  <img src="img/campeggi.jpg" alt="">
                </figure>
                Aree camping
              </li>

            </ul>

          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/clienti.jpg" alt="">
            </figure>

            <ul class="o-block-checklist">
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Compagnie petrolifere</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Concessionarie autostradali</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Aree di servizio</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Car Wash</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Comuni</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Agriturismi</li>
              <li>
                <svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Camping</li>
            </ul>

          </div>

      </section>

    </div>


  {% endblock %}
