{% extends "company-page.njk" %}
{% set pageTitle = "Colonnine Termoplastico" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-erogazione.jpg" alt="Prodotti erogazione servizi">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Colonnine Termoplastico</h2>
        <p class="o-intro__text">Distribuzione elettrica ed idrica, sia linea “free” che “pay”. Realizzate in acciaio inox AISI 304/316 sp. 15/10, satinato</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/bwc-easy-colonnina.jpg" alt="Colonnine termoplastico settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Le versioni del prodotto</h3>
              <ul class="o-block-checklist">
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Consigurazione su misura<br>
                  <ul class="o-list o-list--inset">
                    <li><strong>"free" – "pay"</strong></li>
                    <li>da n. 2 a n. 8 PRESE</li>
                    <li>da n. 2 a n. 4 PRESE – da n. 2 a n. 4 RUBINETTI</li>
                  </ul>
                  <br>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Configurazione "Pay"<br>
                  <ul class="o-list o-list--inset">
                    <li><strong>TEMPORIZZATO (Gettoniera Elettronica o Sistema Prepagato)</strong>:<br>Erogazione a tempo e sommabile all’inserzione ripetuta delle chiave. Viene assegnato un credito corrispondente ad un tempo impostato</li>
                    <li><strong>CONSUMO (Gettoniera Elettronica o Sistema Prepagato)</strong>:<br>Sono presenti contatori elettrici ed idrici con visualizzatori per lettura diretta a tutela del consumatore omologati per la sezione elettrica secondo direttiva MID (Measuring Instruments Directive) 2004/22/CE – recepita in Italia con D.Lgs. n.22 del 2 febr. 2007)</li>
                  </ul>
                  <br>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Accessori<br>
                  <ul class="o-list o-list--inset">
                    <li>Colore RAL a scelta</li>
                    <li>Kit illuminazione a basso consumo 20W + Crepuscolare</li>
                    <li>Rivestimento Acciaio Inox AISI 316L</li>
                  </ul>

                </li>
              </ul>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
