{% extends "company-page.njk" %}
{% set pageTitle = "Colonnina scarico serbatoio" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-ausiliare.jpg" alt="Prodotti relativi alle colonnine ausiliari">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Colonnina scarico serbatoio</h2>
        <p class="o-intro__text">La Colonnina per lo scarico dei serbatoi estraibili è composta da una colonnina in ACCIAIO INOX AISI 304/316 spessore 15/10 – dim. 300x350x1000 mm. Gestisce lo scarico tramite bocchettone con all’interno un sistema di lavaggio ed il lavaggio dei serbatoi tramite rubinetto.</p>
        <p class="o-intro__text">La colonnina può essere fornita nella versione autonoma, per installazioni integrative c/o campeggi, aree sosta attrezzate, o nella versione integrata quale elemento complementare della colonnina BWC Easy.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/bwc-easy-colonnina.jpg" alt="Colonnina BWC Easy settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Le versioni del prodotto</h3>
              <p><strong>Eco</strong>: flussometro inox antivandalo + rubinetto fly</p>
              <p><strong>Plus</strong>: pulsante acciaio inox antivandalo + fotocellula di prossimità per lavaggio di sicurezza</p>
              <p><strong>Pay</strong>: sistema di pagamento temporizzato tramite gettoniera elettronica o tessera prepagata</p>
              <ul class="o-block-checklist">
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Accessori<br>
                  <ul class="o-list o-list--inset">
                    <li><a class="o-link o-link--text" href="kit-antigelo.html">Kit antigelo colonnine</a></li>
                    <li><a class="o-link o-link--text" href="vasca-a-tenuta.html">Vasca a tenuta</a></li>
                    <li><a class="o-link o-link--text" href="rubinetti-innova.html">Rubinetti by Innova</a></li>
                    <li><a class="o-link o-link--text" href="rubinetti-anticontaminazione.html">Rubinetti anticontaminazione</a></li>
                  </ul>
                </li>
              </ul>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
