{% extends "company-page.njk" %}
{% set pageTitle = "Colonnine Antincendio" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-erogazione.jpg" alt="Prodotti erogazione servizi">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h1 class="o-intro__title">Colonnine Antincendio</h1>
        <p class="o-intro__text">Erogatori Antincendio Bifacciali e Monofacciali conformi alla normativa europea UNI 671/ 2 1996. Realizzate in acciaio inox AISI 304/316 sp. 15/10, satinato o in materiale termoindurente in poliestere rinforzato con fibre di vetro BMC e SMC stampata a pressione autoestinguente secondo UL94 classe V0.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-300">
              <img src="img/products/colonnina-estintore-kiosk-fire.jpg" alt="Colonnina antincendio settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <ul class="o-block-checklist">
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Configurazioni<br>
                  <ul class="o-list o-list--inset">
                    <li>Illuminazione</li>
                    <li>Frontale in policarbonato con simbologia</li>
                    <li>Valvola in ottone con volantino</li>
                    <li>Sella porta manichetta</li>
                    <li class=""><strong>Estintore non incluso</strong></li>
                  </ul>

                </li>
              </ul>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
