{% extends "contact-page.njk" %}
{% set pageTitle = "Contatti" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <picture>
        <source srcset="img/header-contatti.jpg" media="(min-width: 800px)">
        <img src="img/header-contatti-mobile.jpg" alt="Contattaci">
      </picture>
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Contatti</h2>
        <p class="o-intro__text">La <strong>Innova snc</strong> nasce nel <strong>2007</strong> dall’intuizione di <strong>Massimo e Gianluca Tomellini</strong>, grazie all’esperienza acquisita e maturata nell’ambito della sicurezza industriale e delle indagini ambientali eseguite in campo petrolifero.</p>
      </section>

      <section class="o-section u-cF">

        <div class="c-contact__form">
          <h3>Compila il form per essere ricontattato</h3>
          <form class="" action="index.html" method="post">
            <div class="c-contact__field">
              <input type="text" name="company" value="" required>
              <label for="company">Azienda</label>
            </div>
            <div class="c-contact__field">
              <input type="text" name="applicant" value="">
              <label for="applicant">Richiedente</label>
            </div>
            <div class="c-contact__field">
              <input type="email" name="email" value="" required>
              <label for="email">Email</label>
            </div>
            <div class="c-contact__field">
              <input type="tel" name="phone" value="">
              <label for="phone">Telefono</label>
            </div>
            <div class="c-contact__field">
              <select>
                  <option value="" selected>Seleziona...</option>
                  <option value="imprenditore">Imprenditore</option>
                  <option value="professionista">Professionista</option>
                  <option value="proprietario">Proprietario di struttura</option>
                  <option value="gestore">Gestore struttura</option>
              </select>
              <label for="role">La tua professione</label>
            </div>
            <div class="c-contact__field">
              <input type="text" name="object" value="">
              <label for="object">Motivo del contatto</label>
            </div>
            <div class="c-contact__field">
              <textarea name="message" rows="8" cols="1" required></textarea>
              <label for="message">Messaggio</label>
            </div>
            <div>
              <input type="checkbox" name="privacy" required>
              <label for="privacy">Autorizzo al trattamento dei dati personali</label>
            </div>
            <div class="c-contact__field">
              <button type="submit" name="button">Invia</button>
            </div>
          </form>
        </div>

        <div class="c-contact__map">
          <h3>Dove siamo</h3>
          <figure class="u-mb-16">
            <img src="img/map.jpg" alt="Mappa indicazioni sede Innova s.n.c.">
            <figcaption>
              <a href="https://www.google.com/maps/place/INNOVA+S.n.c.+di+Massimo+Tomellini+%26+C./@41.8098874,12.4449584,21z/data=!4m13!1m7!3m6!1s0x13258b4941e0f3a5:0x81100e2fce17d5f6!2sVia+Padre+Angelo+Paoli,+7,+00144+Roma+RM!3b1!8m2!3d41.8099398!4d12.4450065!3m4!1s0x13258b58440a7775:0x7d061beb05d6fb2c!8m2!3d41.8099956!4d12.4451273" target="_blank">Visualizza in Google Maps</a>
            </figcaption>
          </figure>
          <address>
            INNOVA s.n.c.<br>
            Via Padre Angelo Paoli, 7<br>
            00144 ROMA<br>
            <br>
            <a class="u-link" href="tel:0650797511">Tel. +39 06 50797511</a><br>
            Fax +39 06 96708782<br>
            E-mail <a class="u-link" href="mailto:info@watercamper.it">info@watercamper.it</a><br>
            p.iva/c.f. 09382741008
          </address>
        </div>

      </section>

    </div>


  {% endblock %}
