{% extends "company-page.njk" %}
{% set pageTitle = "Gallery" %}
{% set metaDesc = "Una galleria fotografica dei lavori da noi svolti, ci sono diversi scatti da noi realizzati direttamente sui luoghi di lavori, sono visibili in dettaglio diversi prodotti ed installazioni" %}

{% set gallery = true %}

{% set animate = true %}

  {% block content %}

    <figure>
      <img src="img/header-azienda.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Gallery</h2>
        <p class="o-intro__text">Una galleria fotografica dei lavori da noi svolti, ci sono diversi scatti realizzati direttamente sui luoghi di lavori, sono visibili in dettaglio diversi prodotti ed installazioni</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <div class="o-flex">
              <div class="o-flex__item o-flex__item--big  o-flex__item--h-auto">
                <a data-fancybox="gallery" href="img/gallery/bwc-ads-campagnola-est.jpg">
                  <figure class="u-hover-zoom">
                    <img src="img/gallery/bwc-ads-campagnola-est.jpg" alt="">
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--big  o-flex__item--h-auto">
                <a data-fancybox="gallery" href="img/gallery/bwc-ads-feronia-est.jpg">
                  <figure class="u-hover-zoom">
                    <img src="img/gallery/bwc-ads-feronia-est.jpg" alt="">
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--big  o-flex__item--h-auto">
                <a data-fancybox="gallery" href="img/gallery/bwc-easy-ads-montepulciano-est.jpg">
                  <figure class="u-hover-zoom">
                    <img src="img/gallery/bwc-easy-ads-montepulciano-est.jpg" alt="">
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--big  o-flex__item--h-auto">
                <a data-fancybox="gallery" href="img/gallery/cwc-comune-campli.jpg">
                  <figure class="u-hover-zoom">
                    <img src="img/gallery/cwc-comune-campli.jpg" alt="">
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--big  o-flex__item--h-auto">
                <a data-fancybox="gallery" href="img/gallery/cwc-comune-di-omegna.jpg">
                  <figure class="u-hover-zoom">
                    <img src="img/gallery/cwc-comune-di-omegna.jpg" alt="">
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--big  o-flex__item--h-auto">
                <a data-fancybox="gallery" href="img/gallery/cwc-park-colombo.jpg">
                  <figure class="u-hover-zoom">
                    <img src="img/gallery/cwc-park-colombo.jpg" alt="">
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--big  o-flex__item--h-auto">
                <a data-fancybox="gallery" href="img/gallery/cwc-pay-car-wash-santhia.jpg">
                  <figure class="u-hover-zoom">
                    <img src="img/gallery/cwc-pay-car-wash-santhia.jpg" alt="">
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--big  o-flex__item--h-auto">
                <a data-fancybox="gallery" href="img/gallery/cwc-pay-comune-sardara.jpg">
                  <figure class="u-hover-zoom">
                    <img src="img/gallery/cwc-pay-comune-sardara.jpg" alt="">
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/gallery.jpg" alt="">
            </figure>

            <blockquote class="o-blockquote">
              <p data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">Alcune delle nostre realizzazioni</p>
            </blockquote>

          </div>

      </section>

    </div>


  {% endblock %}
