{% extends "base-page.njk" %}
{% set pageTitle = "Homepage" %}

{% set homepage = true %}

  {% block content %}

    {% include "carousel.njk" %}


    <div class="o-wrapper">

      {% include "intro.njk" %}

      {% include "home-block.njk" %}

    </div>


  {% endblock %}
