{% extends "base-page.njk" %}
{% set pageTitle = "Homepage" %}

  {% block content %}

    {% include "carousel.njk" %}

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title"></h2>
        <p class="o-intro__text"></p>
      </section>

    </div>

  {% endblock %}
