{% extends "base-page.njk" %}
{% set pageTitle = "Homepage - Camper Service by Innova" %}
{% set metaDesc = "Benvenuto sul sito web della società Innova snc, leader nel settore camper service. Visualizza i nostri prodotti ed i diversi servizi offerti." %}
{% set homepage = true %}
{% set gallery = true %}
{% set animate = true %}

  {% block content %}

    <picture class="u-hide-desktop">
      <source srcset="img/intro-image.webp" type="image/webp">
      <source srcset="img/intro-image.jpg" type="image/jpeg">
      <img src="img/intro-image.jpg" alt="">
    </picture>

    {% include "carousel.njk" %}


    <section class="o-section">
      <div class="o-wrapper">

        {% include "intro.njk" %}

        {% include "home-block.njk" %}

      </div>
    </section>

    <section class="o-bg-scenary"></section>

    <section class="o-section">
      <div class="o-wrapper">

        {% include "home-news.njk" %}

      </div>
    <section>

  {% endblock %}
