{% extends "company-page.njk" %}
{% set pageTitle = "Kit antigelo" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessori.jpg" alt="WaterCamper accessori prodotti settore camper">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Kit antigelo</h2>
        <p class="o-intro__text">Cavo scaldante termoregolato da applicare all’interno della Colonnina</p>
      </section>

      <section class="o-section u-cF u-mb-128">

          <div class="o-block-image">

            <figure class="u-max-width-300">
              <img src="img/products/cavo-antigelo.jpg" alt="Kit antigelo settore Camper Service">
            </figure>

          </div>
          
      </section>

    </div>


  {% endblock %}
