{% extends "company-page.njk" %}
{% set pageTitle = "Kit antigelo" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessori.jpg" alt="WaterCamper accessori prodotti settore camper">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Kit antigelo</h2>
        <p class="o-intro__text">Cavo scaldante termoregolato da applicare all’interno della Colonnina</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/bwc-easy-colonnina.jpg" alt="Colonnina BWC Easy settore Camper Service">
            </figure>

            <div class="o-block-text">
              <article>
                <h3>Prodotto a cui può essere associato</h3>
              </article>
            </div>

          </div>
      </section>

    </div>


  {% endblock %}
