{% extends "company-page.njk" %}
{% set pageTitle = "Kit antigelo corsia" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessori.jpg" alt="WaterCamper accessori prodotti settore camper">
    </figure>

    <div class="o-wrapper product-page">

      <section class="o-intro">
        <h1 class="o-intro__title">Kit antigelo corsia</h1>
      </section>

      <section class="o-section u-cF u-mb-128">

          <div class="o-block-image">

            <figure class="u-max-width-300">
              <img src="img/products/cavo-antigelo-corsia.jpg" alt="Kit antigelo corsia settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Il prodotto</h3>
              <p>Sistema cavo scaldante autoregolato per la corsia e l’area di scarico a pavimento</p>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
