{% extends "company-page.njk" %}
{% set pageTitle = "Lavaggio a pressione" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessori.jpg" alt="WaterCamper accessori prodotti settore camper">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Lavaggio a pressione</h2>
        <p class="o-intro__text">Serbatoio da 300/500 lt. completo di pompa sommersa per il rilancio a pressione dell’acqua sul piatto di scarico. Sistema previsto solo in presenza di Piatto Medio/Maxi/Mega. Si può prevedere abbinato anche un sistema di sanificazione</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/lavaggio-pressione.jpg" alt="Lavaggio a pressione settore Camper Service">
            </figure>
          </div>

          <div class="o-block-text">
            <article>
              <h3>Il prodotto </h3>
              <p>Serbatoio da 300/500 lt. completo di pompa sommersa per il rilancio a pressione dell’acqua sul piatto di scarico.
                Sistema previsto solo in presenza di Piatto Medio/Maxi/Mega.Si può prevedere abbinato anche un sistema di sanificazione</p>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
