{% extends "company-page.njk" %}
{% set pageTitle = "Chi siamo" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-leasing.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Leasing strumentale</h2>
        <p class="o-intro__text">Innova ti offre l’opportunità di acquistare i sistemi camper-service e le attrezzature complementari tramite <strong>Leasing Strumentale</strong> (La proposta resta in ogni caso subordinata all’approvazione degli organi deliberanti).</p>
      </section>

      <section class="o-section u-cF">

        <div class="o-block-text">
          <h3>Servizi offerti</h3>
          <ul class="o-block-checklist">
            <li>
              <svg class="o-icon o-icon--tiny o-icon--green">
                 <use xlink:href="#icon-check"></use>
              </svg>agevolazione fiscale</li>
            <li>
              <svg class="o-icon o-icon--tiny o-icon--green">
                 <use xlink:href="#icon-check"></use>
              </svg>fino ad un massimo di 60 canoni</li>
            <li>
              <svg class="o-icon o-icon--tiny o-icon--green">
                 <use xlink:href="#icon-check"></use>
              </svg>tassi d’interesse bassi</li>
            <li>
              <svg class="o-icon o-icon--tiny o-icon--green">
                 <use xlink:href="#icon-check"></use>
              </svg>assicurazione All Risks</li>
          </ul>
        </div>

        <div class="o-block-image">

          <figure>
            <img src="img/leasing-strumentale.jpg" alt="">
          </figure>

        </div>

      </section>

    </div>


  {% endblock %}
