{% extends "company-page.njk" %}
{% set pageTitle = "MWC" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-camper-service.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">MWC</h2>
        <p class="o-intro__text">Il sistema MWC nasce per limitare al massimo l’investimento con qualche limitazione. E’ composto da una centrale di comando/controllo in ACCIAIO INOX AISI 304/316 spessore 15/10 – dim. 300x350x1000 mm. Gestisce il lavaggio del piatto a terra MINI. E’ possibile abbinare max due rubinetti</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-300">
              <img src="img/products/mwc.jpg" alt="Colonnina MWC settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Le versioni del prodotto</h3>
              <p><strong>Eco</strong>: flussometro inox antivandalo + rubinetti fly</p>
              <p><strong>Plus</strong>: pulsante acciaio inox antivandalo + fotocellula di prossimità per lavaggio di sicurezza</p>
              <p><strong>Pay</strong>: sistema di pagamento temporizzato tramite gettoniera elettronica o tessera prepagata</p>
              <ul class="o-block-checklist">
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Accessori<br>
                  <ul class="o-list o-list--inset">
                    <li><a class="o-link o-link--text" href="kit-antigelo.html">Kit antigelo colonnine</a></li>
                    <li><a class="o-link o-link--text" href="kit-antigelo-corsia.html">Kit antigelo corsia</a></li>
                    <li><a class="o-link o-link--text" href="vasca-a-tenuta.html">Vasca a tenuta</a></li>
                    <li><a class="o-link o-link--text" href="rubinetti-innova.html">Rubinetti by Innova</a></li>
                    <li><a class="o-link o-link--text" href="rubinetti-anticontaminazione.html">Rubinetti anticontaminazione</a></li>
                  </ul>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Combinati<br>
                  <ul class="o-list o-list--inset">
                    <li><a class="o-link o-link--text" href="piatti-di-scarico.html">Piatto Mini</a></li>
                  </ul>
                </li>
              </ul>
            </article>
          </div>

      </section>

      <section class="o-section">
        <h3 class="o-title--decorated">Prodotti correlati</h3>
        <!--{% include "product-related.njk" %}-->
      </section>

    </div>


  {% endblock %}
