{% extends "company-page.njk" %}
{% set pageTitle = "News ed eventi" %}
{% set metaDesc = "" %}

  {% block content %}

    <figure>
      <img src="img/header-progettazione.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h1 class="o-intro__title">News ed Eventi</h1>
        <p class="o-intro__text">La <strong>Innova snc</strong> nasce nel <strong>2007</strong> dall’intuizione di <strong>Massimo e Gianluca Tomellini</strong>, grazie all’esperienza acquisita e maturata nell’ambito della sicurezza industriale e delle indagini ambientali eseguite in campo petrolifero.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <article class="o-block-article">
              <figure>
                <img src="" alt="">
              </figure>
              <h2>
                <a href="#">APC “Rapporto nazionale sul turismo en plein air in caravan e in camper – 2016”</a>
              </h2>
              <p>Quinto rapporto nazionale sul turismo itinerante in libertà 2016</p>
            </article>
          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/news-eventi.jpg" alt="">
            </figure>

          </div>

      </section>

    </div>


  {% endblock %}
