{% extends "company-page.njk" %}
{% set pageTitle = "Normativa" %}
{% set metaDesc = "" %}

  {% block content %}

    <figure>
      <img src="img/header-media.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h1 class="o-intro__title">Normativa</h1>
        <p class="o-intro__text">La <strong>Innova snc</strong> nasce nel <strong>2007</strong> dall’intuizione di <strong>Massimo e Gianluca Tomellini</strong>, grazie all’esperienza acquisita e maturata nell’ambito della sicurezza industriale e delle indagini ambientali eseguite in campo petrolifero.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <h3 class="o-title o-title--medium">Leggi regionali</h3>
            <div class="o-flex">
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/abruzzo.pdf" title="Normativa regione Abruzzo">Abruzzo
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/basilicata.pdf" title="Normativa regione Basilicata">Basilicata
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/calabria.pdf" title="Normativa regione Calabria">Calabria
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/campania.pdf" title="Normativa regione Campania">Campania
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/emiliaromagna.pdf" title="Normativa regione Emilia Romagna">Emilia Romagna
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/friuli.pdf" title="Normativa regione Friuli Venezia Giulia">Friuli-Venezia-Giulia
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/lazio.pdf" title="Normativa regione Lazio">Lazio
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/liguria.pdf" title="Normativa regione Liguria">Liguria
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/lombardia.pdf" title="Normativa regione Lombardia">Lombardia
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/marche.pdf" title="Normativa regione Marche">Marche
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/molise.pdf" title="Normativa regione Molise">Molise
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/piemonte.pdf" title="Normativa regione Piemonte">Piemonte
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/puglia.pdf" title="Normativa regione Puglia">Puglia
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/sardegna.pdf" title="Normativa regione Sardegna">Sardegna
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/sicilia.pdf" title="Normativa regione Sicilia">Sicilia
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/toscana.pdf" title="Normativa regione Toscana">Toscana
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/umbria.pdf" title="Normativa regione Umbria">Umbria
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/valledaosta.pdf" title="Normativa regione Valle D'Aosta">Valle D'Aosta
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/veneto.pdf" title="Normativa regione Veneto">Veneto
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
            </div>
            <h3 class="o-title o-title--medium">Codice della strada</h3>
            <div class="o-flex">
              <div class="o-flex__item o-flex__item--h-auto">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/abruzzo.pdf" title="Estratto codice della strada">Estratto nuovo codice
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
            </div>
          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/normativa.jpg" alt="">
            </figure>

          </div>

      </section>

    </div>


  {% endblock %}
