{% extends "company-page.njk" %}
{% set pageTitle = "Piatti di scarico" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-camper-service.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Piatti di scarico</h2>
        <p class="o-intro__text">I nostri “piatti”, tutelati da brevetto europeo, realizzati in acciaio inox ISI 304, le aree di scarico sono complete dei cablaggi idraulici per il lavaggio a pressione. Idonee per il passaggio di mezzi pesanti e quindi predisposte per la carrabilità. Il pozzetto di ispezione è carrabile ed integrato nel piatto, realizzato sempre in acciaio inox AISI 304. Questa soluzione, unica nel suo genere, consente una riduzione dei costi di installazione, l’eliminazione dei cattivi odori tipici dei pozzetti in c.l.s. ed una semplificazione delle attività di gestione e manutenzione.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/bwc-easy-colonnina.jpg" alt="Colonnina BWC Easy settore Camper Service">
            </figure>

            <div class="o-block-text">
              <article>
                <h3>Prodotto a cui può essere associato</h3>
              </article>
            </div>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Le versioni del prodotto</h3>
              <p><strong>Plus</strong>: pulsante acciaio inox antivandalo + fotocellula di prossimità per lavaggio di sicurezza</p>
              <p><strong>Pay</strong>: sistema di pagamento temporizzato tramite gettoniera elettronica o tessera prepagata</p>
              <ul class="o-block-checklist">
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Accessori<br>
                  <ul class="o-list o-list--inset">
                    <li><a class="o-link o-link--text" href="kit-antigelo-corsia.html">Kit antigelo corsia</a></li>
                    <li><a class="o-link o-link--text" href="vasca-a-tenuta.html">Vasca a tenuta</a></li>
                  </ul>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Combinati<br>
                  <ul class="o-list o-list--inset">
                    <li><a class="o-link o-link--text" href="piatti-di-scarico.html">Piatto Medio/Maxi/Mega</a></li>
                    <li><a class="o-link o-link--text" href="lavaggio-a-pressione.html">Lavaggio a pressione</a></li>
                    <li><a class="o-link o-link--text" href="colonnina-scarico-serbatoi-estraibili.html">Colonnina Scarico Serbatoi Estraibili</a></li>
                    <li><a class="o-link o-link--text" href="colonnina-erogazione-acqua.html">Colonnina Erogazione Acqua</a></li>
                  </ul>
                </li>
              </ul>
            </article>
          </div>

      </section>

      <section class="o-section">
        <h3 class="o-title--decorated">Prodotti correlati</h3>
        <!--{% include "product-related.njk" %}-->
      </section>

    </div>


  {% endblock %}
