{% extends "company-page.njk" %}
{% set pageTitle = "Pubblicità" %}
{% set metaDesc = "" %}

  {% block content %}

    <figure>
      <img src="img/header-progettazione.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Pubblicit&agrave;</h2>
        <p class="o-intro__text">La <strong>Innova snc</strong> nasce nel <strong>2007</strong> dall’intuizione di <strong>Massimo e Gianluca Tomellini</strong>, grazie all’esperienza acquisita e maturata nell’ambito della sicurezza industriale e delle indagini ambientali eseguite in campo petrolifero.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <h3 class="o-title o-title--medium">Leggi regionali</h3>
            <div class="o-flex">
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/abruzzo.pdf" title="Normativa regione Abruzzo">Area servizio N°5 – 2010
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/basilicata.pdf" title="Normativa regione Basilicata">Area servizio N°6 – 2010
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/calabria.pdf" title="Normativa regione Calabria">Area servizio N°7 – 2010
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/campania.pdf" title="Normativa regione Campania">Area servizio N°5 – 2011
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/emiliaromagna.pdf" title="Normativa regione Emilia Romagna">Camper Life 21 la città delle tende
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
            </div>
          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/video.jpg" alt="">
            </figure>

          </div>

      </section>

    </div>


  {% endblock %}
