{% extends "company-page.njk" %}
{% set pageTitle = "Pubblicità" %}
{% set metaDesc = "" %}

  {% block content %}

    <figure>
      <img src="img/header-progettazione.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Pubblicit&agrave;</h2>
        <p class="o-intro__text">La <strong>Innova snc</strong> nasce nel <strong>2007</strong> dall’intuizione di <strong>Massimo e Gianluca Tomellini</strong>, grazie all’esperienza acquisita e maturata nell’ambito della sicurezza industriale e delle indagini ambientali eseguite in campo petrolifero.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <div class="o-flex">
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/area-servizio-5-2010.pdf" title="Area Servizio 5 - 2010">Area servizio N°5 – 2010
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/area-servizio-6-2010.pdf" title="Area servizio N°6 – 2010">Area servizio N°6 – 2010
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/area-servizio-7-2010.pdf" title="Area servizio N°7 – 2010">Area servizio N°7 – 2010
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/area-servizio-6-2011.pdf" title="Area servizio N°6 – 2011">Area servizio N°6 – 2011
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/area-servizio-7-2011.pdf" title="Area servizio N°7 – 2011">Area servizio N°7 – 2011
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/camper-life-21-la-citta-delle-tende.pdf" title="Camper Life 21 La citt&agrave; delle tende">Camper Life 21 La citt&agrave; delle tende
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/la-farfalla-18-2014.pdf" title="la-farfalla-18-2014">La farfalla 18 - 2014
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/caravan-camper-area-sosta-eccellenza.pdf" title="Caravan Camper Area Sosta Eccellenza">Caravan e Camper - Area Sosta di Eccellenza
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/il-tempo-speciale-viaggi.pdf" title="Il Tempo Speciale Viaggi">Il Tempo Speciale Viaggi
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/market-road-113-2014.pdf" title="Market Road 113 - 2014">Market Road 113 - 2014
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/il-paese-nuovo-parco-rauccio.pdf" title="Il Paese Nuovo Parco Rauccio">Il Paese Nuovo Parco Rauccio
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/il-portolano-2013.pdf" title="Il Portolano - 2013">Il Portolano 2013
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>

              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/plain-air-market-progettaree-group.pdf" title="Plain Air Market Progettaree Group">Plain Air Market Progettaree Group
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/il-sole-24-ore-progettaree-group.pdf" title="Il Sole 24 Ore Progettaree Group">Il Sole 24 Ore Progettaree Group
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
              <div class="o-flex__item o-flex__item--h-auto o-flex__item--w-full">
                <button class="o-btn o-btn--standard">
                  <a class="o-btn__link" src="pdf/la-provincia-convegno-cremona-promocamp.pdf" title="La Provincia Convegno Cremona Promocamp">La Provincia Convegno Cremona Promocamp
                    <svg class="o-icon o-icon--tiny">
                       <use xlink:href="#icon-pdf"></use>
                    </svg>
                  </a>
                </button>
              </div>
            </div>
          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/pubblicita.jpg" alt="">
            </figure>

          </div>

      </section>

    </div>


  {% endblock %}
