{% extends "company-page.njk" %}
{% set pageTitle = "Render" %}
{% set metaDesc = "" %}

  {% block content %}

    <figure>
      <img src="img/header-progettazione.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Render</h2>
        <p class="o-intro__text">Un altro strumento messo a disposizione del cliente da parte di Innova snc, ovvero la prototipizzazione in 3D, così da dare un visione quanto più realistica di quanto si andrà poi a realizzare</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <article>
              <p>La Innova, quale azienda facente parte del team di <strong>ProgettAree Group</strong>, realizza proiezioni ed ambientazioni in <strong>3D</strong> per avere una visione da subito di come sarà la vostra futura realizzazione e per consentire a chi dovrà valutare il vostro progetto di comprendere nell’immediato tutti i particolari .</p>
            </article>

            <blockquote class="o-blockquote">
              per maggiori informazioni vai al sito <a class="o-link--text" href="#" target="_blank">www.progettareegroup.it</a>
            </blockquote>

            <figure>
              <img class="u-image-half" src="img/progettAree-group-logo.jpg" alt="">
            </figure>
          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/render.jpg" alt="">
            </figure>

          </div>

      </section>

    </div>


  {% endblock %}
