{% extends "company-page.njk" %}
{% set pageTitle = "Rubinetti Innova - Camper Service by Innova" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessori.jpg" alt="WaterCamper accessori prodotti settore camper">
    </figure>

    <div class="o-wrapper product-page">

      <section class="o-intro">
        <h1 class="o-intro__title">Rubinetti Innova</h1>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/rubinetti-innova.jpg" alt="Rubinetti Innova">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Il prodotto</h3>
              <p>Rubinetto carico acqua design by Innova per il carico dell’acqua potabile inox, antivandalo, filettato, attivato con pulsante inox antivandalo temporizzato</p>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
