{% extends "company-page.njk" %}
{% set pageTitle = "Sink prestige" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-camper-service.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h1 class="o-intro__title">Sink Prestige</h1>
        <p class="o-intro__text">Colonnina Lavello per piazzole attrezzate. Ideale per campeggi e villaggi.Scarichi Reflui e Distribuzione idrica linea “free” realizzato in acciaio inox AISI 316L sp. 15/10, satinato.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/sink-prestige.jpg" alt="Sink Prestige settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              LAVELLO acciaio inox AISI 304 dim. 50×50 cm. completo di gruppo idrico
CARICO ACQUA tramite rubinetto fly da ½”
              <ul class="o-block-checklist">
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Consigurazione base<br>
                  <ul class="o-list o-list--inset">
                    <li>LAVELLO acciaio inox AISI 304 dim. 50×50 cm. completo di gruppo idrico</li>
                    <li>CARICO ACQUA tramite rubinetto fly da ½"</li>
                  </ul>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Optional<br>
                  <ul class="o-list o-list--inset">
                    <li>Gruppo Idrico lavello</li>
                    <li>BOCCHETTONE SCARICO REFLUI SERBATOI erogazione interna acqua tramite microfori</li>
                    <li>Lavaggio Serbatoi tramite rubinetto fly da ½"</li>
                  </ul>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Accessori<br>
                  <ul class="o-list o-list--inset">
                    <li><a class="o-link o-link--text" href="kit-antigelo.html">Kit antigelo corsia</a></li>
                    <li><a class="o-link o-link--text" href="rubinetti-innova.html">Rubinetti by Innova</a></li>
                    <li><a class="o-link o-link--text" href="rubinetti-anticontaminazione.html">Rubinetti anticontaminazione</a></li>
                  </ul>
                </li>
              </ul>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
