{% extends "company-page.njk" %}
{% set pageTitle = "Colonnine Termoplastico" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-pagamenti.jpg" alt="Sistemi controllo accessi per camper">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Sistemi pagamento</h2>
        <p class="o-intro__text">La Innova può fornire, a seconda delle esigenze del cliente, diverse tipologie di sistemi per il pagamento dei servizi (camper-service, erogazione energia e acqua, docce, bagni, ecc.)</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/bwc-easy-colonnina.jpg" alt="Colonnine termoplastico settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Le versioni del prodotto</h3>
              <ul class="o-block-checklist">
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Gettoniera elettronica a moneta<br>
                  <ul class="o-list o-list--inset">
                    <li>Sistema per pagamento temporizzato o a consumo tramite monete. Completo di programmatore tempo e importo</li>
                  </ul>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Prepagato<br>
                  <ul class="o-list o-list--inset">
                    <li>Sistema per pagamento temporizzato o a consumo tramite chiave/tessera prepagata, con lettori chiave/tessera a bordo macchina e lettori chiave/tessera IP68 per le docce/bagni. Completo di programmatore tempo e importo</li>
                  </ul>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Casse automatiche<br>
                  <ul class="o-list o-list--inset">
                    <li>Cassa per erogazione/ritiro/ricarica delle chiavi/tessere , Lettore banconote/monete/carte.Display in lingua, da parete/piedistallo/armadio Stazione di ricarica chiavi automatica self-service da esterno composta da colonnina metallica antiscasso , accettatore banconote e/o lettore carte di credito/bancomat.</li>
                  </ul>
                </li>
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                     <use xlink:href="#icon-check"></use>
                  </svg>Cambia monete<br>
                  <ul class="o-list o-list--inset">
                    <li>Accettazione monete e banconote, da parete/piedistallo</li>
                  </ul>
                </li>
                <li><svg class="o-icon o-icon--tiny o-icon--green">
                   <use xlink:href="#icon-check"></use>
                </svg>Cambia monete<br>
                  <ul class="o-list o-list--inset">
                    <li>Sistema carica chiave da desk, attività eseguita da personale. Completo di alimentatore, cavetti per il collegamento al PC e software</li>
                  </ul>
                </li>
              </ul>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
