{% extends "company-page.njk" %}
{% set pageTitle = "Sistemi controllo accessi - Camper Service" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessi.jpg" alt="Sistemi controllo accessi per camper">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h1 class="o-intro__title">Sistemi controllo accessi</h1>
        <p class="o-intro__text">La Innova può fornire, a seconda delle esigenze del cliente, diverse tipologie di sistemi per il pagamento dei servizi (camper-service, erogazione energia e acqua, docce, bagni, ecc.)</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <div class="o-flex u-px-32">
              <figure class="u-max-width-200">
                <img width="100" src="img/products/colonnina-ingresso.jpg" alt="Sistemi controllo accessi entrata">
              </figure>

              <figure class="u-max-width-200">
                <img width="100" src="img/products/colonnina-uscita.jpg" alt="Sistemi controllo accessi uscita">
              </figure>

              <figure class="u-max-width-200">
                <img width="100" src="img/products/cassa.jpg" alt="Sistemi controllo accessi cassa">
              </figure>
            </div>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Le versioni del prodotto</h3>
              COLONNINA IN:<br>
              Realizzata in acciaio pre-verniciato, abilitata ad erogare il ticket d’ingresso e ad alzare la barriera in presenza di posti disponibili<br>
              <br>
              COLONNINA OUT:<br>
              Realizzata in acciaio pre-verniciato, abilitata a ritirare il ticket e ad alzare la barriera in fase di uscita<br>
              <br>
              BARRIERA ELETTROMECCANICA:
              Realizzata in acciaio pre-verniciato, professionale con variatore di velocità e motore asincrono tri-fase adeguata alla frequenza di utilizzo.<br>
              <br>
              CASSA AUTOMATICA:
              Realizzata in acciaio pre-verniciato – Cassaforte – Alimentazione a rete – hopper rendi resto – lettore di monete/banconote/carte – scelta tariffa – display grafico alta definizione – Serrature Antivandalo riprogrammabili – Tasto cambio tariffa – Kit riscaldamento.<br>
              <br>
              <h3>Lettore Danee</h3>
              permette la lettura delle tessere MIFARE® e la possibilità di defalcare un credito corrispondente ad un tempo o ad un importo pre-impostato.
              Lettore APX
              permette la lettura delle tessere MIFARE® per consentire l’accesso dei varchi controllati.
              Colonnina IN/Out con gettoniera elettronica a monete
              
              <ul class="o-block-checklist">
                <li>
                  <svg class="o-icon o-icon--tiny o-icon--green">
                    <use xlink:href="#icon-check"></use>
                  </svg>Accessori barriera
                  <br>
                  <ul class="o-list o-list--inset">
                    <li>Lunghezza asta</li>
                    <li>Illuminazione a led barriera</li>
                    <li>Lampeggiante</li>
                    <li>Spira Magnetica e Detector</li>
                    <li>Fotocellule di Sicurezza</li>
                    <li>Citotelefono GSM</li>
                    <li>Tessere Mifare</li>
                    <li>Pannello Semaforico/Libero/Occupato</li>
                    <li>Validatore desk</li>
                  </ul>
                </li>
              </ul>  
              
              <div class="o-flex u-px-32">
              <figure class="u-max-width-200">
                <img width="100" src="img/products/gettoniera.png" alt="Sistemi controllo accessi gettoniera">
                </figure>

                <figure class="u-max-width-200">
                  <img width="100" src="img/products/semaforo.jpg" alt="Sistemi controllo accessi semaforo">
                </figure>

                <figure class="u-max-width-200">
                  <img width="100" src="img/products/validatore.png" alt="Sistemi controllo accessi validatore desk">
                </figure>
              </div>
            </article>

          </div>

      </section>

    </div>


  {% endblock %}
