{% extends "company-page.njk" %}
{% set pageTitle = "Valvola a clapet" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessori.jpg" alt="WaterCamper accessori prodotti settore camper">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Valvola a clapet</h2>
        <p class="o-intro__text">Valvola a Clapet Motorizzata, da prevedere solo nel caso di vettoriamento reflui in vasche di accumulo per evitarne il riempimento di acqua piovana.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-image">

            <figure class="u-max-width-200">
              <img src="img/products/valvola-clapet.jpg" alt="Valvola clapet settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
            <article>
              <h3>Il prodotto</h3>
              <p>Valvola a Clapet Motorizzata, da prevedere solo nel caso di vettoriamento reflui in vasche di accumulo per evitarne il riempimento di acqua piovana.</p>
            </article>
          </div>

      </section>

    </div>


  {% endblock %}
