{% extends "company-page.njk" %}
{% set pageTitle = "Vasche a tenuta" %}
{% set metaDesc = "La Innova snc dei fratelli Tomellini, pionieri del settore, realizza e promuove sistemi e prodotti per il settore camper service" %}

  {% block content %}

    <figure>
      <img src="img/header-accessori.jpg" alt="WaterCamper accessori prodotti settore camper">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h2 class="o-intro__title">Vasche a tenuta</h2>
        <p class="o-intro__text">Serbatoi a tenuta da 10/15/20 mc. in vetroresina o acciaio al carbonio. Completi di lampeggiante luminoso, galleggiante e cavo per la segnalazione del "troppo pieno"</p>
      </section>

      <section class="o-section u-cF u-mb-128">

          <div class="o-block-image">

            <figure class="u-max-width-300">
              <img src="img/products/vasca-a-tenuta.jpg" alt="Vasca a tenuta settore Camper Service">
            </figure>

          </div>

          <div class="o-block-text">
              <article>
                <h3>Il prodotto</h3>
                <p>Serbatoi a tenuta da 10/15/20 mc. in vetroresina o acciaio al carbonio Completi di lampeggiante luminoso, galleggiante e cavo per la segnalazione del “troppo pieno”</p>
              </article>
            </div>

      </section>

    </div>


  {% endblock %}
