{% extends "company-page.njk" %}
{% set pageTitle = "Video" %}
{% set metaDesc = "" %}

{% set gallery = true %}

  {% block content %}

    <figure>
      <img src="img/header-progettazione.jpg" alt="">
    </figure>

    <div class="o-wrapper">

      <section class="o-intro">
        <h1 class="o-intro__title">Video</h1>
        <p class="o-intro__text">La <strong>Innova snc</strong> nasce nel <strong>2007</strong> dall’intuizione di <strong>Massimo e Gianluca Tomellini</strong>, grazie all’esperienza acquisita e maturata nell’ambito della sicurezza industriale e delle indagini ambientali eseguite in campo petrolifero.</p>
      </section>

      <section class="o-section u-cF">

          <div class="o-block-text">
            <div class="o-flex">
              <div class="o-flex__item o-flex__item--h-auto">
                <a class="o-link"  data-fancybox href="https://www.youtube.com/watch?v=n305M1b3Oo0">
                  <figure class="u-poster-video">
                    <img class="u-max-width-full" src="img/video-01.jpg" alt="">
                    <figcaption class="u-text-break">Inaugurazione camper-service Comune di Cento (FE)</figcaption>
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <a class="o-link"  data-fancybox href="https://www.youtube.com/watch?v=vkQsdNIAncA">
                  <figure class="u-poster-video">
                    <img class="u-max-width-full" src="img/video-02.jpg" alt="">
                    <figcaption class="u-text-break">Innova – Sistemi integrati per Aree di sosta Camper</figcaption>
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <a class="o-link"  data-fancybox href="https://www.youtube.com/watch?v=HP8c64l9kD8">
                  <figure class="u-poster-video">
                    <img class="u-max-width-full" src="img/video-03.jpg" alt="">
                    <figcaption class="u-text-break">Il Turismo itinerante׃ un’opportunità per la Provincia.</figcaption>
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <a class="o-link"  data-fancybox href="https://www.youtube.com/watch?v=yePNexAIDJ8">
                  <figure class="u-poster-video">
                    <img class="u-max-width-full" src="img/video-04.jpg" alt="">
                    <figcaption class="u-text-break">APC: Presentata a Roma V edizione Rapporto Nazionale sul Turismo in Libertà</figcaption>
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <a class="o-link"  data-fancybox href="https://www.youtube.com/watch?v=QEObM2kgsNg">
                  <figure class="u-poster-video">
                    <img class="u-max-width-full" src="img/video-05.jpg" alt="">
                    <figcaption class="u-text-break">Convegno Provincia di Cremona – Intervista Pres.te Boschetti</figcaption>
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <a class="o-link"  data-fancybox href="https://www.youtube.com/watch?v=pdVjIWXxGNQ">
                  <figure class="u-poster-video">
                    <img class="u-max-width-full" src="img/video-06.jpg" alt="">
                    <figcaption class="u-text-break">CamperMagNewsLive 15.09.14 il Tg del Salone del Camper 2014 (Dal minuto 3.01 fino a 5.46 per ascoltare l’intervento)</figcaption>
                  </figure>
                </a>
              </div>
              <div class="o-flex__item o-flex__item--h-auto">
                <a class="o-link" data-fancybox href="https://www.youtube.com/watch?v=wTlwJm2Fcnk">
                  <figure class="u-poster-video">
                    <img class="u-max-width-full" src="img/video-07.jpg" alt="">
                    <figcaption class="u-text-break">CamperMagNewsLive 13.09.15 il Tg del Salone del Camper 2015 (Dal minuto 0.45 fino a 0.51 per vedere l’Area d’Eccellenza)</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="o-block-image">

            <figure>
              <img src="img/video.jpg" alt="">
            </figure>

          </div>

      </section>

    </div>


  {% endblock %}
