<section class="c-carousel">
  <button class="c-carousel__btn-prev-slide js-prev-slide" type="button" name="button">Previuos slide</button>
  <div class="c-carousel__container">
    <picture class="c-carousel__item current-slide">
      <source srcset="img/carousel/webp/slide-01.webp" type="image/webp">
      <source srcset="img/carousel/slide-01.jpg" type="image/jpeg">
      <img src="img/carousel/slide-01.jpg" alt="">
    </picture>
    <picture class="c-carousel__item">
      <source srcset="img/carousel/webp/slide-02.webp" type="image/webp">
      <source srcset="img/carousel/slide-02.jpg" type="image/jpeg">
      <img src="img/carousel/slide-02.jpg" alt="">
    </picture>
    <picture class="c-carousel__item">
      <source srcset="img/carousel/webp/slide-03.webp" type="image/webp">
      <source srcset="img/carousel/slide-03.jpg" type="image/jpeg">
      <img src="img/carousel/slide-03.jpg" alt="">
    </picture>
    <picture class="c-carousel__item">
      <source srcset="img/carousel/webp/slide-04.webp" type="image/webp">
      <source srcset="img/carousel/slide-04.jpg" type="image/jpeg">
      <img src="img/carousel/slide-04.jpg" alt="">
    </picture>
  </div>
  <button class="c-carousel__btn-next-slide js-next-slide" type="button" name="button">Next slide</button>
</section>
