<section class="c-carousel">
  <button class="c-carousel__btn-prev-slide js-prev-slide" type="button" name="button">Previuos slide</button>
  <div class="c-carousel__container">
    <figure class="c-carousel__item">
      <img src="https://via.placeholder.com/1920x1080" alt="">
    </figure>
    <figure class="c-carousel__item">
      <img src="https://via.placeholder.com/1920x1080" alt="">
    </figure>
    <figure class="c-carousel__item">
      <img src="https://via.placeholder.com/1920x1080" alt="">
    </figure>
    <figure class="c-carousel__item">
      <img src="https://via.placeholder.com/1920x1080" alt="">
    </figure>
  </div>
  <button class="c-carousel__btn-next-slide js-next-slide" type="button" name="button">Next slide</button>
</section>
