<div class="o-wrapper">
  <h3 class="o-title">Innova</h3>
  <div class="c-footer__info">
    <div class="c-footer__item">
      <p>Via Padre Angelo Paoli, 7</p>
      <p>Roma (RM)</p>
      <p>00144</p>
      <p>Italia</p>
      <form class="c-footer__subscribe" action="" method="post">
        <label for="email">Registrati alla newsletter</label>
        <input class="email-subscribe" type="email" name="email" placeholder="Inserisci la tua email" value="" required>
        <input class="email-submit" type="submit" name="submit-email" value="Invia">
      </form>
    </div>
    <div class="c-footer__item">
      <h4 class="o-title o-title--small">Contatti</h4>
      <p><a href="tel:+39 06 50797511">+39 06 50797511</a></p>
      <p>+39 06 96708782</p>
      <p class="u-mb-16"><a href="mailto:info@watercamper.it">info@watercamper.it</a></p>
      <h4 class="o-title o-title--small">Seguici</h4>
      <ul class="o-list">
        <li>Facebook</li>
        <li>YouTube</li>
      </ul>
    </div>
    <div class="c-footer__item">
      <span class="js-scroll-top">Scroll to top</span>
    </div>
  </div>
  <p class="c-footer__copy">copyright &copy; 2018</p>
</div>
