<div class="o-wrapper">
  <h3 class="o-title">Innova</h3>
  <div class="c-footer__info">
    <div class="c-footer__item">
      <p>Via Padre Angelo Paoli, 7</p>
      <p>Roma (RM)</p>
      <p>00144</p>
      <p>Italia</p>
    </div>
    <div class="c-footer__item">
      <p><a href="tel:+39 06 50797511">+39 06 50797511</a></p>
      <p>+39 06 96708782</p>
      <p class="u-mb-16"><a href="mailto:info@watercamper.it">info@watercamper.it</a></p>
      <ul class="o-list">
        <li class="c-footer__social">
          <a href="#">
            <svg class="o-icon o-icon--small">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="c-footer__social">
          <a href="#">
            <svg class="o-icon o-icon--small">
               <use xlink:href="#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="c-footer__item">
      <form class="c-footer__subscribe" action="" method="post">
        <label for="email">Registrati alla newsletter</label>
        <input class="email-subscribe" type="email" name="email" placeholder="Inserisci la tua email" value="" required>
        <input class="email-submit" type="submit" name="submit-email" value="Invia">
      </form>
    </div>
    <div class="c-footer__item">
      <span class="c-footer__scroll-top js-scroll-top">
        Ritorna su
        <svg class="o-icon o-icon--tiny">
           <use xlink:href="#icon-top"></use>
        </svg>
      </span>
    </div>
  </div>
  <p class="c-footer__copy">copyright &copy; 2018</p>
</div>
