<section class="c-home-block">

  {% for item in homeblock %}
    <div class="c-home-block__item">

      <figure>
        {% if item.video %}
        <a class="o-link" data-fancybox href="https://www.youtube.com/watch?v=mFA-JQN9Ark&feature=emb_title">
          <img class="lazy" data-src="{{item.imagesrc}}" alt="">
        </a>
        {% else %}
        <img class="lazy" data-src="{{item.imagesrc}}" alt="">
        {% endif %}
      </figure>
      
      {% if item.link %}
        <h3>
          <a class="o-link" href="{{item.link}}" title="Richiedi un preventivo gratuito">{{item.title}}</a></h3>
      {% else %}
        <h3>{{item.title}}</h3>
      {% endif %}
      
      <p>{{item.text}}</p>

    </div>
  {% endfor %}

</section>
