<div class="c-navigation--mobile-toggle js-nav-mobile">
  <div class="icon-menu icon-menu--top"></div>
  <div class="icon-menu icon-menu--middle"></div>
  <div class="icon-menu icon-menu--bottom"></div>
</div>
