<nav class="c-navigation--mobile">
  {% for item in navmobile %}
    <div class="c-navigation__label--mobile js-open-submenu">
      {% if item.subnav %}
        <span>{{ item.label }}</span>
        <div class="c-navigation__submenu--mobile">
          <div class="c-navigation__category">{{item.label}}</div>
          <ul class="o-list">
            {% for subitem in item.subnav %}
              <li>
                <a class="c-navigation__label--mobile o-link" href="{{subitem.link}}">{{subitem.label}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <a class="o-link" href="{{ item.link }}">{{ item.label }}</a>  
      {% endif %}
    </div>
  {% endfor %}
  <div class="c-navigation__back-btn js-back-menu">
      <svg class="o-icon o-icon--small">
        <use xlink:href="#icon-back"></use>
      </svg>
    </div>
</nav>
