<nav class="c-navigation">
  <ul class="c-navigation__menu o-list">
    {% for item in nav %}
      <li class="c-navigation__item">
        {% if item.subnav %}
          <div class="c-navigation__subitem">
            <a class="c-navigation__link o-link" href="{{ item.link }}">{{ item.label }}</a>
            <ul class="c-navigation__submenu o-list">
              {% for subitem in item.subnav %}
                <li class="c-navigation__subitem">
                  <a class="c-navigation__sublink o-link" href="{{ subitem.link }}">{{ subitem.label }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <a class="c-navigation__link o-link" href="{{ item.link }}">{{ item.label }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
