<div class="c-product-related">
  <div class="c-product-related__item">
    <a href="" target="_blank">
      <figure class="c-product-related__image">
        <img src="img/products/piatto-di-scarico.jpg" alt="Accessorio Piatto di Scarico">
        <figcaption>Piatto di scarico</figcaption>
      </figure>
    </a>
  </div>
  <div class="c-product-related__item">
    <a href="" target="_blank">
      <figure class="c-product-related__image">
        <img src="img/products/kit-antigelo-corsia-accessorio-small.jpg" alt="Accessorio Kit antigelo">
        <figcaption>Kit antigelo corsia </figcaption>
      </figure>
    </a>
  </div>
  <div class="c-product-related__item">
    <a href="" target="_blank">
      <figure class="c-product-related__image">
        <img src="img/products/lavaggio-pressione.jpg" alt="Accessorio Lavaggio Pressione">
        <figcaption>Lavaggio pressione</figcaption>
      </figure>
    </a>
  </div>
  <div class="c-product-related__item">
    <a href="" target="_blank">
      <figure class="c-product-related__image">
        <img src="img/products/vasca-a-tenuta.jpg" alt="Accessorio Vasca a Tenuta">
        <figcaption>Vasca a tenuta</figcaption>
      </figure>
    </a>
  </div>
</div>
