<div class="c-header__top-info">
  <div class="o-wrapper bg-transparent u-cF">
    Contattaci:
    <span>
      <a href="tel:+39 06 50797511">
        <svg class="o-icon o-icon--tiny">
           <use xlink:href="#icon-phone"></use>
        </svg>+39 06 50797511</a>
    </span>
    <span>
      <svg class="o-icon o-icon--tiny">
         <use xlink:href="#icon-fax"></use>
      </svg>
      +39 06 96708782
    </span>
    <span>
      <a href="mailto:info@watercamper.it">
        <svg class="o-icon o-icon--tiny">
          <use xlink:href="#icon-email"></use>
        </svg>info@watercamper.it</a>
    </span>
    <div class="c-header__social">
      <span>
        <a href="#">
          <svg class="o-icon o-icon--small">
             <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
      </span>
      <span>
        <a href="#">
          <svg class="o-icon o-icon--small">
             <use xlink:href="#icon-youtube"></use>
          </svg>
        </a>
      </span>
      <span class="c-header__language">
        <a href="#">English</a>
      </span>
    </div>
  </div>
</div>
