<div class="c-header__top-info">
  <div class="o-wrapper bg-transparent">
    Contattaci:
    <span>
      <svg class="o-icon o-icon--tiny">
         <use xlink:href="#icon-phone"></use>
      </svg>
      <a href="tel:+39 06 50797511">+39 06 50797511</a>
    </span>
    <span>
      <svg class="o-icon o-icon--tiny">
         <use xlink:href="#icon-fax"></use>
      </svg>
      +39 06 96708782
    </span>
    <span>
      <svg class="o-icon o-icon--tiny">
        <use xlink:href="#icon-email"></use>
      </svg>
      <a href="mailto:info@watercamper.it">info@watercamper.it</a>
    </span>
  </div>
</div>
