// Footer component
.c-footer {
  background-color: $color-gray;
  color: $color-white;
  font-family: $font-text;
  padding: 16px 0;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-bottom: 16px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__item {
    flex: 1 0 100%;

    @media screen and (min-width: 1024px) {
      flex: 1 0 30%;

      &:last-child {
        flex: 1 0 10%
      }
    }

    &:last-child {
      text-align: right
    }
  }

  &__subscribe {

    label {
      display: block;
      margin-bottom: 4px;
    }

    input {
      background-color: $color-white;
      border: 1px solid $color-white;
      height: 30px;
      padding: 4px;
    }

    input.email-submit {
      cursor: pointer;
    }
  }

  &__scroll-top {
    cursor: pointer;
  }

  p {
    font-size: .875rem;
    margin: 0 0 4px;

    &.c-footer__copy {
      font-size: .75rem;
    }
  }

  a {
    color: $color-white;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    fill: $color-white;
    margin-right: 4px;
  }

  &__social {
    display: inline-block;
  }
}
