// Header
.c-header {
  background-color: #f9f9f9;
  padding: 0 0 16px;
  position: relative;
  width: 100%;
  z-index: 2;

  @media screen and (min-width: 1024px) {
    padding: 0;
  }

  &:after,
  &:before {
    clear: both;
    content: '';
    display: block;
  }

  &__top-info {
    background-color: $primary-blue;
    color: $color-white;
    font-family: $font-text;
    font-size: .75rem;
    margin-bottom: 16px;
    padding: 16px 0;

    span {
      margin: 0 4px;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }

    svg {
      fill: $color-white;
      margin-right: 4px;
    }
  }

  &__social {
    float: right;
  }

  &__language {
    line-height: 1.5rem;
  }

  &__logo {
    display: inline-block;
  }
}
