.c-home-news {

  &:before,
  &:after {
    clear: both;
    content: '';
    display: block;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__content {
    @media screen and (min-width: 768px) {
      box-sizing: border-box;
      flex: 1 0 50%;
      padding-left: 8px;
    }
  }

  &__image {
    margin-bottom: 8px;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    @media screen and (min-width: 768px) {
      box-sizing: border-box;
      flex: 1 0 50%;
      padding-right: 8px;
    }
  }

  &__small {
    @media screen and (min-width: 768px) {
      box-sizing: border-box;
      float: left;
      width: 50%;

      &:nth-child(odd){
        padding-right: 8px;
      }

      &:nth-child(even){
        padding-left: 8px;
      }
    }
  }

  &__text {
    font-family: $font-text;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;


    .c-home-news__small & {
      max-height: 7.5rem;
      overflow: hidden;
    }
  }

  &__title {
    font-family: $font-heading;
    margin: 0 0 4px;
  }

  &__label {
    font-family: $font-heading;
    font-size: 2rem;
    margin: 0 0 8px;
    padding-top: 32px;
  }
}
