// Navigation
.c-navigation {
  display: none;
  float: right;

  @media screen and (min-width: 1024px) {
    display: block;
    padding: 8px 0;
  }

  &__menu {
    display: flex;
  }

  &__item {
    //padding-top: 8px;
  }

  &__label {
    cursor: pointer;
    //position: relative;

    &:hover {
      color: $primary-green;

      &:before {
        top: 2px;
      }

      .c-navigation__submenu {
        opacity: 1;
        visibility: visible;
      }
    }

    &.is-selected {
      color: $primary-green;

      &:before {
        top: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    font-family: $font-heading;
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    padding: 8px;
    position: relative;
    transition: color .3s ease-in-out .1s;

    &:hover,
    &.is-current {
      color: $primary-green
    }
    
    &--active {
      color: $primary-green;
    }
  }

  &__submenu {
    background-color: $color-light-gray;
    border-bottom: 2px solid $primary-green;
    left: 0;
    opacity: 0;
    padding: 12px;
    position: absolute;
    top: 130px;
    transition: transform .3s ease, opacity .35s ease .05s, visibility .3s;
    visibility: hidden;
    width: 100%;
    z-index: 1;
  }

  &__subitem {
    margin-bottom: 4px;
    overflow: hidden;
  }

  &__sublink {
    font-family: $font-heading;
    font-size: .875rem;
    font-weight: 600;
    position: relative;
    transition: all .3s ease-in-out;

    &:hover {
      color: $primary-green;
    }

    &.single-product {
      font-size: 1rem;
    }
  }

  &__product {

    @media screen and (min-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    > .c-navigation__subitem {
      flex: 1 0 25%;
      margin: 0 0 16px;
      max-width: 25%; 
    }
  }

  &__product-label {
    color: $color-black;
    cursor: initial;
    display: inline-block;
    font-family: $font-heading;
    font-size: 1rem;
    margin-bottom: 4px;
  }

  &__subcategory {
    margin-bottom: 8px;
  }

  // Style for mobile menu
  &--mobile {
    font-family: $font-heading;

    &-toggle {
      cursor: pointer;
      height: 40px;
      width: 44px;
      position: fixed;
      right: 16px;
      top: 78px;
      z-index: 4;
      background-color: rgba(0,0,0,.55);
      border-radius: 2px;

      @media screen and (max-width: 767px) {
        top: 16px;
      }

      &.is-open {
        background-color: transparent;
      }
    }

    @media screen and (min-width: 1024px) {
      display: none;

      &-toggle {
        display: none;
      }
    }

    .nav-mobile-page {
      margin-bottom: 16px;
    }

    .nav-mobile-label {
      font-size: 1rem;

      &--collapsed {
        cursor: pointer;
        display: block;
        position: relative;
      }
    }

    .nav-mobile-link {
      font-size: .875rem;
      margin-bottom: 8px;
    }

    .nav-mobile-product {
      margin-bottom: 8px;
      padding-left: 8px;
    }

    .nav-mobile-product-category {
      padding-left: 8px;
    }
  }
}

.icon-menu {
  background-color: #ffffff;
  width: calc(100% - 10px);
  height: 2px;
  margin: 0 auto;
  position: relative;
  transition: transform .2s ease-in-out, top .3s ease-in-out .15s;

  .is-open & {
    background-color: #333333;
    transition: top .2s ease-in-out, transform .3s ease-in-out .15s;
  }

  &--top {
    top: 11px;

    .is-open & {
      transform-origin: center;
      transform: rotate(45deg);
      top: 16px;
    }
  }

  &--middle {
    top: 18px;
    transition: opacity .35s ease-in-out;

    .is-open & {
      opacity: 0;
    }
  }

  &--bottom {
    top: 25px;

    .is-open & {
      transform-origin: center;
      transform: rotate(-45deg);
      top: 12px;
    }
  }
}

.submenu-product {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height .3s ease, visibility .15s ease-in-out, opacity .25s ease;

  &__icon {
    position: absolute;
    right: 16px;
    top: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: all .25s ease-in-out;

    &:before,
    &:after {
      content: '';
      width: 8px;
      height: 2px;
      background-color: #333333;
      position: absolute;
      right: 9px;
      top: 10px;
      transform: rotate(45deg);
    }

    &:after {
      right: 4px;
      transform: rotate(-45deg);
    }

    .is-active & {
      transform: rotate(180deg);
    }
  }

  &.is-exploded {
    visibility: visible;
    opacity: 1;
    transition: height .3s ease, visibility .15s ease-in-out, opacity .35s ease;
  }
}
