.c-partners {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    align-items: center;
    flex-direction: row;
    margin-bottom: 48px;
  }

  &__logo {
    @media screen and (max-width: 1023px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1024px) {
      flex: 1 0 200px;
      margin-right: 16px;
      max-width: 200px;
    }
  }

  &__name {
    border-bottom: 2px solid $primary-green;
    font-size: 1.25rem;
    margin: 0 0 8px;
    padding-bottom: 8px;

    a {
      color: $color-black;
      text-decoration: none;
      
      &:hover {
        color: $primary-green;
      }
    }
  }

  &__subname {
    margin: 0 0 4px;
  }

  p {
    margin: 0 0 8px;
    line-height: 1.5rem;
  }

}
