// Intro
.o-intro {
  padding-top: 32px;
  margin-bottom: 32px;

  &__title {
    font-family: $font-heading;
    font-size: 2rem;
    margin: 0 0 8px;
  }

  &__text {
    font-family: $font-text;
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0
  }
}
