// Fixed background
.o-fixed-background {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  > div {
    background-image: url('../img/parallax-img.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 56.25%;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

// Section
.o-section {
  background-color: $color-white;
  padding-bottom: 32px;
  width: 100%;
}

// Wrapper
.o-wrapper {
  padding: 0 12px;


  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    width: 1170px;
  }
}

// Scenary Background
.o-bg-scenary {
  display: none;
  padding-bottom: 25%;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

// Flex container
.o-flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 1 0 auto;
    height: 150px;

    figure {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 8px;
    }

    img {
      max-width: 100px;
    }

    @media screen and (min-width: 768px) {
      flex: 0 0 50%;
    }

    @media screen and (min-width: 768px) {
      flex: 0 0 33.333333%;
    }

    &--big img {
      max-width: 100%;
    }
  }
}

// Block text style
.o-block-text {

  article {
    font-family: $font-text;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0
  }

  @media screen and (min-width: 1024px) {
    float: left;
    padding-right: 8px;
    width: 50%;
  }
}

// Block of page with image
.o-block-image {
  @media screen and (min-width: 1024px) {
    float: left;
    padding-left: 8px;
    width: 50%;
  }
}

// Blockquote style
.o-blockquote {
  border-left: 4px solid $primary-green;
  font-family: $font-text--italic;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2.25rem;
  margin: 0;
  padding: 32px;
}

// Block ul with checklist icon
.o-block-checklist {
  font-family: $font-text;
  list-style: none;
  margin: 0;
  padding: 16px;

  svg {
    margin-right: 8px;
  }

  li {
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin-bottom: 8px;
  }
}
