.o-title {
  font-family: $font-heading;
  font-size: 2rem;
  margin: 0 0 8px;

  &--medium {
    font-size: 1.5rem;
  }

  &--small {
    font-size: 1rem;
  }

  &--decorated {
    margin: 0;
    padding-bottom: 4px;
    border-bottom: 2px solid $primary-green;
  }
}
