// Clearfix for floating content
.u-cF {
  &:before,
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

// Bold and italic text
.u-bold {
  font-weight: 700;
}

.u-italic {
  font-style: italic;
}

// Background transparent
.bg-transparent {
  background-color: transparent;
}

.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-mb-16 {
  margin-bottom: 16px !important;
}

@media screen and (min-width: 1199px) {
  .u-hide-desktop {
    display: none;
  }
}

// Half width image
.u-image-half {
  max-width: 50%;
}

// Text break after 3 lines
.u-text-break {
  display: inline-block;
  font-size: .875rem;
  height: 3rem;
  line-height: 1rem;
  overflow: hidden;

  &:after {
    content:'...';
    display: inline-block;
  }
}

// Max width none
.u-max-width-full {
  max-width: 100% !important;
}

// Width full
.u-width-full {
  width: 100%;
}

// Max width for products images
.u-max-width-200 {
  img {
    max-width: 200px;
  }
}

// Poster video img
.u-poster-video {
  position: relative;
}
.u-poster-video:after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  content: '';
  height: 76%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media screen and (min-width:880px) and (max-width: 1023px) {
  .u-poster-video:after {
    height: 75%;
  }
}

@media screen and (min-width:1024px) {
  .u-poster-video:after {
    height: 65%;
  }
}
.u-poster-video:hover.u-poster-video:after {
  background-color: rgba(255,255,255,.75);
  background-image: url('../img/icon-video.svg');
}
