// Clearfix for floating content
.u-cF {
  &:before,
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

// Bold and italic text
.u-bold {
  font-weight: 700;
}

.u-italic {
  font-style: italic;
}

// Background transparent
.bg-transparent {
  background-color: transparent;
}

.u-mb-16 {
  margin-bottom: 16px !important;
}

@media screen and (min-width: 1199px) {
  .u-hide-desktop {
    display: none;
  }
}

// Half width image
.u-image-half {
  max-width: 50%;
}

// Text break after 3 lines
.u-text-break {
  display: inline-block;
  font-size: .875rem;
  height: 3rem;
  line-height: 1rem;
  overflow: hidden;

  &:after {
    content:'...';
    display: inline-block;
  }
}

// Max width none
.u-max-width-full {
  max-width: 100% !important;
}
