@import 'settings/variables';

html,
body {
  margin: 0;
}

header {
  background-color: #fafafa;
  width: 100%;

  &:after,
  &:before {
    clear: both;
    content: '';
    display: block;
  }
}

figure {
  margin: 0;
}

@import 'objects/list';

@import 'component/carousel';
@import 'component/navigation';
