@import 'settings/fonts';
@import 'settings/variables';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

main {
  background-color: transparent;
}

figure {
  margin: 0;
}

@import 'objects/icon';
@import 'objects/intro';
@import 'objects/layout';
@import 'objects/list';
@import 'objects/link';
@import 'objects/overlay';
@import 'objects/typography';

@import 'component/header';
@import 'component/home-block';
@import 'component/home-news';
@import 'component/carousel';
@import 'component/navigation';
@import 'component/footer';

@import 'utilities/helper-classes';
